.logo_main{
    padding-left: 21px;
    width: 142px;

}
.nv1{
    text-decoration: none;
}

.li{
    text-decoration: none;
}

.img_12{
    padding-top: 5px;
}

.main_nvbar{
    display: flex;
    padding-bottom: 10px;
    border-color: red;
    width: 1707px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    

  
}



.main_left{
    padding-top: 20px;
}

.main_right{
    width: 843px;
    justify-content: right;
    text-align: right;
    padding-top: 20px;
    padding-left: 89px;
    
    
}

.dn_dk_dt{
    width: 98px;
    height: 52px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #d4d1d1!important;
   font-weight: 600;
   cursor: pointer;
    
}

.dn_dk_dt:hover{
 background-color: hsl(0, 10%, 96%);
}

.dn_dk{
    width: 98px;
    height: 52px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    
}


.dn_dk:hover{
    background-color: hsl(0, 10%, 96%);
}
.main_dn{
    padding-left: 20px;
    cursor: pointer;
}

.icon_heart{
    font-size: 20px;
}

.button_icon{
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 7px;
}

.button_icon:hover{
    background-color: hsl(0, 10%, 96%);
}

.line_nvbar{
    height: 2px;
    background-color: hsl(0, 10%, 96%);
    margin-bottom:30px;

}



.searchEngine{
    padding-left: 415px;
    
}

.bt_sg{
    width: 130px;
    height: 38px;
    border: none;
    background-color: white;
}

.bt_sg:hover{
    background-color: hsl(0, 4%, 44%);
    color: white;
}
.main_nvbar_2{
    width: 1707px;
}




