.TinTuclink{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    width: 360px;
   
}

.TinTuc_img1{
    width: 360px;
    height: 202px;
}

.TinTuc3{
    width: 303px;
    height: 41px;
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
}

.TinTuc1{
    display: flex;
    width: 360px;
}

.TinTuc2{
    font-size: 40px;
    margin: 0;
    font-weight: 700;
    padding-right: 5px;
}
